html, body{
    overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.main{
    text-align: center;
    width: 100%;
    max-width: 640px;
}

.primary-input{
	margin-bottom: 2rem;
}

.select-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.select-input{
    
}

.calendar-wrapper{
    outline: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  border-radius: 3px;
}



.select-search {
    width: 300px;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    color: black;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

    .select-search.is-disabled {
        opacity: 0.5;
    }

    .select-search__value {
        position: relative;
    }

    .select-search__value::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: calc(50% - 9px);
        right: 19px;
        width: 11px;
        height: 11px;
        transform: rotate(45deg);
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        pointer-events: none;
    }

    .select-search__input {
        display: block;
        height: 36px;
        width: 100%;
        padding: 0 16px;
        background: #fff;
        border: none;
        box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        outline: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        line-height: 36px;
        -webkit-appearance: none;
    }

    .select-search:not(.is-disabled) .select-search__input {
        cursor: pointer;
    }

    .select-search--multiple .select-search__input {
        cursor: initial;
    }

    .select-search__input::-webkit-search-decoration,
    .select-search__input::-webkit-search-cancel-button,
    .select-search__input::-webkit-search-results-button,
    .select-search__input::-webkit-search-results-decoration {
        -webkit-appearance:none;
    }

    .select-search--multiple .select-search__input {
        border-radius: 3px 3px 0 0;
    }

    .select-search__input:hover {
        border-color: #2FCC8B;
    }

    .select-search__input:not([readonly]):focus {
        cursor: initial;
    }

    .select-search__select {
        background: #fff;
        box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    }

    .select-search:not(.select-search--multiple) .select-search__select {
        position: absolute;
        z-index: 2;
        top: 44px;
        right: 0;
        left: 0;
        border-radius: 3px;
        overflow: auto;
        max-height: 360px;
    }

    .select-search--multiple .select-search__select {
        height: 180px;
        overflow: auto;
        border-top: 1px solid #eee;
        border-radius: 0 0 3px 3px;
    }

    .select-search__options {
        list-style: none;
    }

    .select-search__row:not(:first-child) {
        border-top: 1px solid #eee;
    }

    .select-search__option {
        display: block;
        height: 36px;
        width: 100%;
        padding: 0 16px;
        background: #fff;
        border: none;
        outline: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        cursor: pointer;
    }


    .select-search--multiple .select-search__option {
        height: 48px;
    }

    .select-search__option.is-selected {
        background: #2FCC8B;
        color: #fff;
    }

    .select-search__option.is-highlighted,
    .select-search__option:not(.is-selected):hover {
        background: rgba(47, 204, 139, 0.1);
    }

    .select-search__option.is-highlighted.is-selected,
    .select-search__option.is-selected:hover {
        background: #2eb378;
        color: #fff;
    }

    .select-search__group-header {
        font-size: 10px;
        text-transform: uppercase;
        background: #eee;
        padding: 0px 16px;
    }

    .select-search-box__option {
        font-size: 16px;
        font-weight: 400;
        color: #616b74;
        padding: 15px 20px;
        border-top: 1px solid #eee;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }

    .DayPickerInput {
        width: 300px;
        position: relative;
        margin: 10px;
        margin-bottom: 20px;
        font-family: 'Nunito Sans', sans-serif;
        box-sizing: border-box;
        display: block;
        height: 36px;
        width: 300px;
        padding: 0 16px;
        background: #fff;
        border: none;
        box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        outline: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        line-height: 36px;
        -webkit-appearance: none;
    }

    .DayPickerInput-Overlay {
        background: #fff;
    }

.ride-summary{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border-width:  1px;
    border-color: white;
    border-radius: 3px;
    border-top: 1px solid #eee;
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
}


.ride-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem; 
}

.connection-time{
    padding-right: 1.5rem;
}

.departure-time{

}

.connection-stations{
    position: relative;
    margin-right: 2rem;
}

.station-name-label{

}

.depart-arrival-wrap {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.depart-arrival {
    display: flex;
    border-bottom: 1px solid #eee;
}

    .depart-info {
        width: 100%;
        padding: 20px;
        padding-right: 20px; 
    }

    .depart-info__title {
        color: #aaa;
        font-size: small;
        font-weight: lighter;
        text-transform: lowercase;
    }

    .depart-info__time {
        font-size: 44px;
        line-height: 44px;
        font-weight: lighter;
    }

.arrow-wrap { 
    display: table-cell; 
    font-family: MyriadPro-Regular,Arial,sans-serif;
    font-size: 36px;
    line-height: 44px;
    vertical-align: top;
}

.arrow {     
    font-size: 36px;    
    padding: 40px 2px 0px;
}

.to-left {
    text-align: left;
}

.to-right {
    text-align: right;
}

.prices {
    flex-wrap: none;
}

.category-price {
    margin: 5px;
    background-image: -webkit-linear-gradient(top, #282c34, #282c3f);
}

/* Ride */
.tabs-wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: start;
    align-items: center;  
    min-width: 100%;
    min-height: 200px;
    margin-bottom: 2rem;
}
.tabs-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.tabs-wrapper::-webkit-scrollbar:horizontal {
    height: 11px;
}

.tabs-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}
.tabs-wrapper::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
}

.cart-tabs{
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 1px solid #eee;
    border-radius: 1rem;
    min-width: 100px;
}

.cart-selected{
    background: #1a3;
}

.scheme-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.slot-wrapper{
    display: flex;
    justify-content: space-around  ;
}

.button-remove{
    margin: 1.2rem;
    color: #dadada;
    background:#282c34;
    font-size: 0.8rem;
    line-height: 1rem;
    border: 0px;
    outline: none;
}

.total-cost{
    margin-top: 2rem;
}

.handle-button{
    margin-top: 2rem;
}
/* Checkout */
.qr-image {
    max-width: 100%;
}

.checkout{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.ticket-wrapper{
    color: aqua;
    text-align: left;
    margin:0.5rem 25%;
}

.tickets-summary{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:0.5rem 25%;
}

.input-form-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 1rem;
    margin: 1rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.input-wrapper-double{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.input-form{
    width: 20rem;
    height: 3rem;
    text-align: center;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    color: black;
}

.half-size{
    width: 9.5rem;
}

.payment-method-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem 25%;
}

.phone-input{
    display: flex;
    flex-direction: column;
}

.center{
    margin: 1rem auto;
}

/* Success */
.success{
	color: #282c34;
	position: fixed;
	border-radius: 1rem;
	padding: 5%;
	z-index: 100;
	transform:translate(-50%, -50%);
	top:50%;
	left:50%;
	height: 80%;
	width: 80%;
	border: #1a3 solid 2px;
	background-color: #eee;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	opacity: 0.95;
}

.success button{
	margin: 4rem auto;
}